<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>The PAGE</title>
        <link rel="stylesheet" type="text/css" href="{% static 'content/style.css' %}">
    </head>
    <body>
        <h2>Today is {{ today }}. My favorite number is {{ number }}</h2>
        {% for element in the_list %}
            <div class= {% if element|divisibleby:2 %} "green" {% else %} "blue" {% endif %}> {{ element }} </div>
            <p> "========="</p>
            <br>
        {% endfor %}
        <div id="content">{% block content %}{% endblock %}</div>
        {% include "content/footer.html" %}
    </body>
</html>